@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --netflix-red: #e50914;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-netflix-red: var(--netflix-red);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.netflix-scroll::-webkit-scrollbar {
  display: none;
}

.netflix-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.banner-gradient {
  background: linear-gradient(to top, #ffffff, transparent);
}

.navbar-gradient {
  background: linear-gradient(to bottom, rgba(0,0,0,0.7) 10%, transparent);
}
